:root {
  --big-shoulders-font: "Big Shoulders Display", cursive;
  --lexend-font: "Lexend Deca", sans-serif;
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --primary-text: hsl(0, 0%, 95%);
  --secondary-text: hsla(0, 0%, 100%, 0.75);
}
* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  margin: 75px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 300px;
  height: 425px;
}

.card-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.card-icon {
  align-self: flex-start;
}

.card-header {
  font-family: var(--big-shoulders-font);
  color: var(--primary-text);
  font-size: 45px;
  margin: 25px 0;
}

.card-text {
  font-family: var(--lexend-font);
  color: var(--secondary-text);
  font-size: 15px;
  line-height: 20px;
}

.card-button {
  border: 1px solid white;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  font-family: var(--lexend-font);
  font-size: 15px;
  margin-top: auto;
}

.card-button.sedan {
  color: var(--orange);
}
.card-button.suv {
  color: var(--cyan);
}

.card-button.luxury {
  color: var(--dark-cyan);
}

.card-button:hover {
  cursor: pointer;
  color: var(--primary-text);
  background-color: transparent;
}

.card-sedan {
  background-color: var(--orange);
  border-radius: 10px 10px 0px 0px;
}

.card-suv {
  background-color: var(--cyan);
}

.card-luxury {
  background-color: var(--dark-cyan);
  border-radius: 0px 0px 10px 10px;
}

@media (min-width: 990px) {
  main {
    height: 100vh;
  }

  .cards {
    flex-direction: row;
    margin: auto;
  }

  .card {
    height: 450px;
  }

  .card-sedan {
    border-radius: 10px 0px 0px 10px;
  }

  .card-luxury {
    border-radius: 0px 10px 10px 0px;
  }
}
